<div class="slider__container">
    <div *ngIf="images else loading">
        <div class="work-slider">
            <div *ngFor="let image of images" 
                    [ngStyle]="{ transform: 'translateX(' + offset + '%)'}"
                    (mouseenter)="pauseSlider()"
                    (mouseleave)="resumeSlider()">
                    <a  [href]="'/details/' + image.ID" class="full-link">
                        <app-image-display [imageId]="image.ID" imageType="projects" [importStyle]="{ 'border-radius': '15px'}" ></app-image-display>
                        <div class="overlay-text">{{ image.Name }}</div>
                    </a>
    
            </div>
        </div>
    </div>
</div>


<ng-template #loading>
    <p>Loading project details...</p>
</ng-template>

