.work-slider {
    position: relative;
    border-radius: 15px;
    overflow-x: hidden;
    padding: 2rem;
    width: 100%;
}

.work-track {                                       /*Container for the track*/
    display: flex;
    gap: 30px;
    transition: transform 0.3s linear;
}

.work-slide {
    flex: 0 0 calc(33.3333% - 30px);                /*Each image takes up 1/3 of the container width*/
    box-sizing: border-box;
}

.img {
    width: 100%;
    padding: 2rem;
}

.work-slide:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;                /*Image Scales smoothly over 0.3 seconds*/
}

.work-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(0,0,0, .4), rgba(0,0,0, 0));
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: scale(1.1);
    border-radius: 15px;
}

.work-slide:hover::after {
    opacity: 1;
    
}

@keyframes slide {
    0% {
     transform: translateX(+100%);                                             /*Start at the initial position*/
    } 
    100% {
     transform: translateX(-100%);                                         /*Move left by one full width of the track*/
    }
 }