<div class="slider__container">
    <div *ngIf="images.length > 0; else loading">
        <div class="work-slider">
            <div *ngFor="let image of images" [ngStyle]="{ transform: 'translateX(' + offset + '%)'}"
                (mouseenter)="pauseSlider()" (mouseleave)="resumeSlider()">
                <a [href]="image.route" class="full-link">
                    <img [src]="image.imagePath" style="border-radius: 15px;" />
                    <div class="overlay-text">{{ image.name }}</div>
                </a>

            </div>
        </div>
    </div>
</div>


<ng-template #loading>
    <p style="font-size: 2.5rem;">Loading project details...</p>
</ng-template>