<html class="about">
    <body class="about">
        <nav>
            <app-navbar></app-navbar>
        </nav>

                <div class="row">
                    <h1>About Me</h1>
                            <div class="about__content">
                                <div *ngIf="data else loading" class="about__text">
                                    <p [innerHTML]="data.aboutDescription"></p>
                                    <a href="../../assets/files/Peterson, Jesse Resume.pdf" target="_blank" class="btn">My Resume</a>
                                </div>
                                <div class="about__photo-container">
                                    <app-image-display [imageId]="data._id" imageType="about"></app-image-display>
                                </div>
                            </div>
                    </div>


        <div class="ocean">
            <div class="wave"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
        </div>
    </body>
</html>



<ng-template #loading>
    <p>Loading Description...</p>
</ng-template>