
.about html, body { 
    height: 100%;
    overflow-x: hidden;
}
.about body {
    background: radial-gradient(rgba(73,72,67, 1) 0%,                     /*Defines two of the same colors one is occupying the center and the other extends 35% of the radius*/
    rgba(70,69,63, 1) 35%, #212121 100%)                                /*Third sets the final color. 100% means that is will occupy the edges*/
}

.about h1 {
    padding-top: 2%;
}


.about__content {
    display: flex;
    position: relative;
    flex-direction:row-reverse;
    align-items: center;
    z-index: 10;
}


@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(min-height: 900px) {
    .about__content {
        padding-top: 5%;
    }
    .about h1 { 
        padding-top: 10%
    }
}



.about__photo-container {
    margin-bottom: 3rem;
}

.about__text {
    font-size: var(--font-size-normal);
    font-family: Roboto, 'Jost', sans-serif;
    line-height: 150%;
}



@media(min-width: 901px) {
    .about__text {
        flex: 0 0 50%                                                     /* container will not grow with excess space and not shrink if there isnt enough, item is set to 35% */
    }
    
    .about__photo-container {
        flex: 1;                                                            /* picture will grow and shrink and the initial size of the item is 0% */
        margin: 0 var(--gutter-huge) 0 0;                                   /* Top, Right, Bottom, Left*/
    }
}


/*------  Ocean Background Animation  ------*/

.ocean {
    height: 50vh;
    width: 100vw;                                                            
    position: absolute;
    bottom: 0;
    left: 0;
    background: #444444;
    background-color: transparent;
    overflow-x: hidden;
}

.wave {
    background: url("../../assets/images/wave.svg");
    background-repeat: repeat-x;
    position: absolute;
    width: 6400px; 
    bottom: 0;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
    bottom: 30px;
    animation: swell 5s ease-in-out infinite, wave 5s ease infinite;
    opacity: 1;
}

.wave:nth-of-type(3) {
    bottom: 60px;
    animation: swell 10s ease-in-out infinite, wave 10s ease-in-out infinite;
    opacity: .5;
}


@media(min-height: 1150px) {
    .wave {
        bottom: 250px;
    }
    .wave.wave:nth-of-type(2) {
        bottom: 200px;
    }
    .wave.wave:nth-of-type(3) {
        bottom: 150px;
    }

}

@keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px; }
}

@keyframes swell {
    0%, 100% {
        transform: translate(0, -30px);
    }
    50% {
        transform: translate(0, 50px);
    }
}