


.nav {
    display: flex;
    flex: 0;
    position: relative;
    justify-content: space-between;                                        /*Aligns the flex items horizontally at the end of container*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: var(--gutter-normal) 0;                                          /*Adds vertical padding*/
    z-index: 200;
}


.nav__items {
    display: flex;
    position: relative;
    color: white;
    list-style: none;                                                         /*This removes default bullet points, number, or other markers from a list*/
    font-size: var(--font-size-normal);
}

.nav__container-left, .nav__container-right {
    display: flex;
}

.nav__container-right {
    width: 30%;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .nav {
        justify-content: center;
    }
    .nav__container-right {
        width: 40%;
        padding-left: 5rem;
    }
}


@media(max-width: 650px) {

    .nav__container-right {
        width: 220px; 
    }
}

// @media(max-width: 575px) {

//     .nav__container-right {
//         width: 50%;
//     }
// }

// @media(max-width: 450px) {

//     .nav__container-right {
//         width: 60%;
//     }
// }



.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--light-blue);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--light-blue);
}

.dropdown {    
    position: relative;
}

.dropdown-menu {
    display: none;                                                        /*Hide dropdown by default*/
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0,0,0, .1);
}

.dropdown-item {
    padding: 0 0;
    background-color: transparent;
}

.dropdown-item:not(:last-child) {
    margin: var(--gutter-small) 0;

}

.dropdown-item::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--light-blue);
}

.dropdown-link {
    text-decoration: none;
    color: var(--white);
}

.dropdown-link:hover {
    color: #007BFF;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  

.dropdown-menu.show {
    display: block
}