


.nav {
    display: flex;
    flex: 0;
    position: relative;
    justify-content: space-between;                                        /*Aligns the flex items horizontally at the end of container*/
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: var(--gutter-normal) 0;                                          /*Adds vertical padding*/
    z-index: 1000;
}


.nav__items {
    display: flex;
    list-style: none;                                                         /*This removes default bullet points, number, or other markers from a list*/
    width: 27%;
    font-size: var(--font-size-normal);
}

.nav__items:not(:last-child) {                                         /*This rule applies to all elements except the last item*/
    margin-right: 15px;                                       /*This keeps consequtive spacing besides the last*/
}




@media(max-width: 650px) {                                                    /*If screen width is less than 500px then center the nav bar*/
    .nav {
        justify-content: center;
    }
}

@media(max-width: 500px) {                                                    /*If screen width is less than 400px then lessen the gutter*/
    .nav__items:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}



.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color: var(--light-blue);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--light-blue);
}

.dropdown {    position: relative;
}

.dropdown-menu {
    display: none;                                                        /*Hide dropdown by default*/
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0,0,0, .1);
}

.dropdown-item {
    padding: 0 0;
    background-color: rgba(0,0,0, .05);
}

.dropdown-item::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--light-blue);
    margin: var(--gutter-small) 0;
}

.dropdown-link {
    text-decoration: none;
    color: var(--white);
}

.dropdown-link:hover {
    color: #007BFF;
}

.dropdown:hover .dropdown-menu {
    display: block;
}