
<div class="row">
    <nav class="nav" role="navigation">


      <ul class="nav__items">
        <li class="nav__items nav__items--left"><a href="/" class="nav__link">Home</a></li>
      </ul>

      <ul class="nav__items ">
        <li class="nav__items dropdown">
          <a href="" class="nav__link">Work</a>
          <ul class="dropdown-menu nav">
            <li class="dropdown-item"><a href="/personal" class="dropdown-link">Personal</a></li>
            <li class="dropdown-item"><a href="/school" class="dropdown-link">School</a></li>
            <li class="dropdown-item"><a href="/professional" class="dropdown-link">Professional</a></li>
          </ul>
        </li>
        <li class="nav__items"><a href="/about" class="nav__link" style="">About</a></li>
        <li class="nav__items"><a href="/contact" class="nav__link">Contact</a></li>
      </ul>


    </nav>
  </div>

  
