


<html>
    <header class="row">
        <nav>
            <app-navbar></app-navbar>
        </nav>
        <h1>Get in Touch</h1>
    </header>
    
        <div class="page__content row">
    
            <div class="text__box">
                <p>
                Are you looking to build a professional online storefront that showcases your business and attracts 
                customers? I'm here to help! With passion for working in web development, I can work with you to
                bring your vision to life. Get in touch with me today, and let's discuss how we can create the
                the perfect online platform for your business.
                </p>
                <a href="#" class="btn">Contact me</a>
            </div>
    
            <div class="image__box">
                <img src="../../assets/images/SliderDefault.jpg"/>
            </div>
        </div>


    <div class="ocean__container">
        <div class="wave"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
    </div>
</html>