html, body {
    background: radial-gradient(#161616 0%,                     /*Defines two of the same colors one is occupying the center and the other extends 35% of the radius*/
    #161616 35%, #101010 100%);
    position: relative;
}

h1 {
    position: relative;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
    margin-top: 10%;
}


/*------ Page Contents  ------*/

.page__content {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 75vh;
    z-index: 100;
}

@media (max-width: 900px) {
    .page__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

@media (min-height: 950px) {

    .contact h1 {
        padding-top: 15%;
    }
}
.image__box {
    position: relative;
    margin: var(--gutter-normal);
    z-index: 100;
}


.text__box {
    position: relative;
    font-size: var(--font-size-normal);
    font-family: Roboto, 'Jost', sans-serif;
    line-height: 150%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media(min-width: 900px) {
    .text__box {
        flex: 0 0 35%
    }

    .image__box {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}






/*------ Background Animation  ------*/


.ocean__container {
    // height: 100%;
    // width: 2.5%;                                                            
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    // background: #444444;
    // background-color: transparent;
}


@media(max-width: 900px) {
    .wave { right: 75vw }
    .wave:nth-of-type(2){ right: 55vw }
    .wave:nth-of-type(3){ right: 35vw }
    .wave:nth-of-type(4){ right: 15vw }
}


@keyframes wave {
    0% { margin-bottom: 0; }
    100% { margin-bottom: -1600px; }
}


.wave {
    width: 594px;
    height: 4000px;
    background: linear-gradient(to left, #E34234 20%, #E34234 80%);
    mask: url('../../assets/images/vertical_wave.svg') no-repeat;
    -webkit-mask: url('../../assets/images/vertical_wave.svg') repeat-y;
    mask-size: contain;
    -webkit-mask-size: contain;


    position: absolute;
    bottom: 0;
    right: 80vw;
    transform: translate(0, 0);
    animation: wave 8s ease infinite;
    z-index: 50;
}


.wave:nth-of-type(2) {
    background: linear-gradient(to left, #050533 0%, #050533 100%);
    right: 65vw;
    bottom: -60%;
    animation: wave 6.5s ease infinite;
    z-index: 40;
}

.wave:nth-of-type(3) {
    background: linear-gradient(to left, #F2F1E8 0%, #F2F1E8 100%);
    right: 50vw;
    bottom: -20%;
    animation: wave 6s ease infinite;
    z-index: 30;
}

.wave:nth-of-type(4) {
    background: linear-gradient(to left, #0D698B 0%, #0D698B 100%);
    right: 35vw;
    bottom: -50%;
    animation: wave 4s ease infinite;
    z-index: 20;
}