html, body {
    // background: radial-gradient(#161616 0%,                     /*Defines two of the same colors one is occupying the center and the other extends 35% of the radius*/
    // #161616 35%, #101010 100%);
    // position: relative;
}

h1 {
    position: relative;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
    margin-top: 10%;
}

.background__gradient {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#161616 0%,                     /*Defines two of the same colors one is occupying the center and the other extends 35% of the radius*/
    #161616 35%, #101010 100%);
}


/*------ Page Contents  ------*/

.page__content {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: auto;
    z-index: 100;
}

.text__box {
    position: relative;
    color: white;
    font-size: var(--font-size-normal);
    font-family: Roboto, 'Jost', sans-serif;
    line-height: 150%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-25%);
}

@media (max-width: 900px) {
    h1 {
        margin-top: 25%;
    }
    .page__content {
        flex-direction: column;
        align-items: center;
    }
    .text__box {
        transform: translateY(0%);
    }
}

@media (min-height: 950px) {

    .contact h1 {
        padding-top: 15%;
    }
}





@media(min-width: 900px) {
    .text__box {
        flex: 0 0 35%;

    }

    .image__box {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}






/*------ Background Animation  ------*/


.ocean__container {
    // height: 100%;
    // width: 100%;                                                           
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: inherit;
    overflow: hidden;
    z-index: 10;
    // background: #444444;
    // background-color: transparent;
}





@keyframes wave {
    0% { margin-bottom: 0; }
    100% { margin-bottom: -1600px; }
}


.wave {
    width: 594px;
    height: 4000px;
    background: linear-gradient(to left, #E34234 20%, #E34234 80%);
    mask: url('../../assets/images/vertical_wave.svg') no-repeat;
    -webkit-mask: url('../../assets/images/vertical_wave.svg') repeat-y;
    mask-size: contain;
    -webkit-mask-size: contain;


    position: absolute;
    bottom: 0;
    right: 80vw;
    transform: translateY(0, 0);
    animation: wave 8s ease infinite;
    z-index: 50;
}


.wave:nth-of-type(2) {
    background: linear-gradient(to left, #050533 0%, #050533 100%);
    right: 65vw;
    bottom: -60%;
    animation: wave 6.5s ease infinite;
    z-index: 40;
}

.wave:nth-of-type(3) {
    background: linear-gradient(to left, #F2F1E8 0%, #F2F1E8 100%);
    right: 50vw;
    bottom: -20%;
    animation: wave 6s ease infinite;
    z-index: 30;
}

.wave:nth-of-type(4) {
    background: linear-gradient(to left, #0D698B 0%, #0D698B 100%);
    right: 35vw;
    bottom: -50%;
    animation: wave 4s ease infinite;
    z-index: 20;
}

@media(max-width: 900px) {
    .wave { right: 90vw }
    .wave:nth-of-type(2){ right: 70vw }
    .wave:nth-of-type(3){ right: 45vw }
    .wave:nth-of-type(4){ right: 20vw }
}

@media(max-width: 550px) {
    .wave { right: 90vw }
    .wave:nth-of-type(2){ right: 60vw }
    .wave:nth-of-type(3){ right: 40vw }
    .wave:nth-of-type(4){ right: 5vw }
}

/*  The email contact sheet  */

.contact__box {
    display: flex;    
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    margin-top: 2rem;
}

.contact__box h3 {
    margin: 4rem 0 4rem 0;
    font-size: var(--font-size-medium-1);
}

.contact__form {
    width: 600px;
    padding: 20px;
    background: #212121;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media(max-width: 650px) {
    .contact__form {
        width: 400px;
        padding: 15px;
    }
}

.contact__form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact__form label {
    color: white;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


.contact__form input, .contact__form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: white;                                       // Font Color
    background-color: #373737;                          // Input Background
    border: 1px solid #141414;                          // Border Color
    border-radius: 4px;
}

.contact__form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact__form button:hover {
    background: #0056b3;
}

/*  Alternative Contact Links */

.work__links {
    display: flex;
    align-items: center;
}

.github {
    margin-right: 10px;
    mask: url('../../assets/images/github.svg') no-repeat;
    -webkit-mask: url('../../assets/images/github.svg') no-repeat;
}

.linkedin {
    margin-left: 10px;
    mask: url('../../assets/images/linkedin.svg') no-repeat;
    -webkit-mask: url('../../assets/images/linkedin.svg') no-repeat;
}

.github, .linkedin{
    display: block;
    height: 7rem;
    width: 7rem;
    transition: all .3s;
    position: relative;


    background: linear-gradient(to right, #414141 20%, #414141 80%);

    mask-size: contain;
    -webkit-mask-size: contain;
    margin-bottom: 5rem;
}





.linkedin:hover, .github:hover {
    transform: scale(1.2);
}
