.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, 0.4)),   /*This creates a gradient overlay goiing from very light black at the top to darker at the bottom*/
    url('../../../assets/images/ProjectDetails.gif');
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-position-y: -10rem;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.header__text-box {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.header__text {
    display: flex;
    position: absolute;
    top: 35%;
    justify-content: center;                                                             /*Moves the top edge of the element to 50% of height of its containing element*/
    transform: translateY(-65%);                                          /*This adjusts the position element moving it upwards 50% of its own height*/
}

.header__text p {                                                         /*This targets all <p> elements that are children of an element with .header__text class*/
    margin: 1.5rem 0 3.5rem;                                              /*Top margin 1.5rem, right margin 0rem, bottom margin 3.5rem (left is omitted so it is 0rem)*/
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
    line-height: 125%;
}

.header__text h1 {
    font-size: 6rem;
    font-family: Roboto, 'Jost', sans-serif;
    font-size: 7.5rem;
    line-height: 140%;
}

@media(max-width: 500px) {                                                /*If screen width is less than 500px align the text to the center*/
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(.8);                                             /*If screen width is less than 500px scale <p> text to .8*/
    }
}


.work body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0 10rem 0;
}

@media(max-width: 900px) {
    .project__item {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.text__box {
    padding-right: var(--gutter-normal);
}

@media(min-width: 900px) {
    .text__box {
        flex: 0 0 35%;
    }
}

@media(max-width: 900px) {
    .text__box {
        padding-top: 5rem;
    }
}


.image__box {
    flex: 0;
    height: auto;
}

// @media(max-width: 1700px) {
//     .image__box {
//         width: 400 px;
//     }
// }

// @media(max-width: 800px) {
//     .image__box {
//         width: 350px;
//     }
// }

// @media(max-width: 450px) {
//     .image__box {
//         flex: 1 1 calc(50% - 10%);
//     }
// }

@media(min-width: 1600px) {
    .image__box {
        padding-right: var(--gutter-huge);
    }
}