
.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)),
        url('../../assets/images/WorkBackground.png');
        height: 75vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-size: var(font-size-normal);
}

.header__text-box {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.header__text {
    display: flex;
    position: absolute;
    top: 35%;
    justify-content: center;                                                             /*Moves the top edge of the element to 50% of height of its containing element*/
    transform: translateY(-65%);                                          /*This adjusts the position element moving it upwards 50% of its own height*/
}

.header__text p {                                                         /*This targets all <p> elements that are children of an element with .header__text class*/
    margin: 1.5rem 0 3.5rem;                                              /*Top margin 1.5rem, right margin 0rem, bottom margin 3.5rem (left is omitted so it is 0rem)*/
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
    line-height: 125%;
}

.header__text h1 {
    font-size: 6rem;
    font-family: Roboto, 'Jost', sans-serif;
    font-size: 7.5rem;
    line-height: 140%;
}

@media(max-width: 500px) {                                                /*If screen width is less than 500px align the text to the center*/
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(.8);                                             /*If screen width is less than 500px scale <p> text to .8*/
    }
}

body {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height:fit-content;
}

// .scroll-container {
//     position: flex;
//     justify-content: flex-end;
//     height: 200vh;
//     width: 100px;
// }

// .vertical-container {
//     display: flex;
//     // justify-content: center;
//     position: absolute;

//     top: 75vh;
//     right: 0;
//     height: 100vh;
//     width: 15%;
// }

// .vertical-line {
//     position: fixed;
//     justify-content: center;
//     margin-left: 5%;
//     width: 4px;
//     background-color: grey;
//     height: 85vh;
// }

// .vertical-line::after {
//     background-color: #007BFF;
//     height: 0%;
// }



// .circle-break {
//     position: absolute;
//     height: 20px;
//     border-radius: 50%;
//     background-color: transparent;
//     border: 2px solid gray;
//     transition: all 0.3s ease;
//     top: 200px;
// }

// .circle-break.filled {
//     background-color: #007BFF;
//     border-color: #007BFF;
// }

// .circle-break[data-date]:before {
//     content: attr(data-date);
//     position: absolute;
//     top: -25px;
//     left: 50%;
//     transform: translateX(-50%);
//     font-size: 12px;
//     opacity: 0;
//     transition: opactity 0.3s ease;
// }

// .circle-break.filled[data-date]:before {
//     opacity: 1;
// }

/******************************************************************/
/***************          Projects Container        ***************/
/******************************************************************/

/*    Container   */

.work__box {
    display: flex;
    align-items: center;
    margin: 10rem 0 10rem 0;
    overflow-y: hidden;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}


/*   Text Box    */

.work__text {
    padding-right: var(--gutter-normal);
    font-weight: 400;
}

@media(min-width: 901px) {
    .work__text{
        flex: 0 0 35%;                          // Short hand for grow shrink and basis, Item will not grow or shrink the size of the item is 35% vw
    }
}


/*  Work Listing  */
.work__list {
    list-style-position: inside;
    margin-bottom: 1rem;
}

/*   Work Links    */
.work__links {
    display: flex;
    align-items: center;
}

.work__code {
    display: block;
    height: 7rem;
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__code-wrapper {
    display: inline-block;
    transition: transform 0.3s ease;
}

.work__code-wrapper:hover {
    transform: scale(1.1);
}

.bottom__left-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
}


/*   Image Box    */

.work__picture {
    flex: 1 1 ;
    height: auto;
    max-width: 650px;
}

@media(max-width: 1700px) {
    .work__picture {
        width: 400px;
    }
}

@media(max-width: 800px) {
    .work__picture {
        width: 350px;
    }
}

@media(max-width: 450px) {
    .work__picture {
        flex: 1 1 calc(50% - 10%);
    }
}



.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--gutter-normal) 0;
}



/*  Capstone Related entries  */

.capstone__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
}

iframe{
    position: absolute;
    width: 30%;
    height: 27%;
    transform: translateY(-50%);
}

// .capstone__title {
// }

.capstone__text {
    line-height: var(--font-size-medium); 
    max-width: 900px;
}

/*  For the Video Code Review  */

.video__box {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: row;    
    overflow-y: hidden;
}

@media(max-width: 1100px) {
    .video__box {
        flex-direction: column;
    }
}

.video__picture-box{
    display: flex;
    position: block;
    height: auto;
    width: 600px;
    aspect-ratio: 16 / 9;

}

.video__picture {
    position:absolute;
    width: inherit;
    height: inherit;
    aspect-ratio: inherit;
    transform: translateY(0);
}

@media(max-width: 800px) {
    .video__picture-box {
        width: 400px;
    }
}

.video__text {
    font-weight: 400;
    text-align: center;
}

@media(min-width: 901px) {
    .video__text{
        flex: 0 0 35%;                          // Short hand for grow shrink and basis, Item will not grow or shrink the size of the item is 35% vw
    }
}
