<header class="header">
    <nav>
        <app-navbar></app-navbar>
    </nav>

    <div class="header__text-box row">
        <div *ngIf="project else loading" class="header__text">
            <h1>
                <span> {{ project.projectName }} </span>
            </h1>
        </div>
    </div>

    
</header>




<body class="work">
    <div class="row">
        <div class="project-container">

            <!-- Head project image and description -->
            <section>
                <div *ngIf="project else loading" class="project__header-box">
                    <img *ngIf="images?.has(project._id)" [src]="images.get(projectId)" class="project__header-image">
                    <p [innerHTML]="project.projectDescription"></p>
                </div>
            </section>

            <!-- For Status image and description -->
             <div *ngIf="project; else loading">
                <div *ngFor="let item of project.projectStatuses">
                    <div class="status__box">
                        <div class="status__text">
                            <h3 class="status__title">{{item.statusName}}</h3>
                            <span class="status__description" [innerHTML]="item.statusDescription"></span>
                        </div>
    
                        <div class="status__picture">
                            <img *ngIf="images?.has(project._id + '_' + item._id)" [src]="images.get(project._id + '_' + item._id) " class="status__picture">
                        </div>
                    </div>
                </div>
             </div>



        </div>
    </div>
</body>


<ng-template #loading>
    <p>Loading project details...</p>
  </ng-template>




