
    <header class="header">
        <nav>
            <app-navbar></app-navbar>
        </nav>
    
        <div class="header__text-box row">
            <div class="header__text">
                <h1 class="heading-primary">
                    <span> School Work </span>
                </h1>
            </div>
        </div>
    </header>
    
    <body class="work">
        <div class="row">
            <div class="project-container">

                <!-- Self Assessment -->
                <section>
                    <div class="capstone__box">
                        <div class="capstone__title">
                            <h1>SNHU Capstone Project</h1>
                        </div>
                        <div class="capstone__text">
                            <span>
                                &emsp; The next three projects are enhancements from the capstone class at SNHU. I chose three different classes in the program to enhance.
                                In the first enhancement, I added a user profiles to the application. This allowed the app to track the user settings for the active user.
                                This showcases my ability to create a screen for an android app, manage a SQLite database, and track user settings across multiple sessions.
                                This enhancement shows my ability to scale applications into a multi-user environment.<br>
                                &emsp; The second enhancement is a lab performed on Data structures and algorithms. It was meant to showcase how different data structure handle sorting algorithms.
                                I chose this enhancement because I wanted a hands-on comparison of the vector, linked list, and hash table for how they handle sorting. This enhancement showcases
                                My abiltiy to construct these data structures and each, merge, heap, and quick sorting algorithms for each data structure. <br>
                                &emsp; The final enhancement was very exciting since it was a language I had very little experience in, JavaScript (Node.js). Working on this assignment was a good
                                intro to the vast uses of the NPM libraries. In this enhancement I created a MySQL database for storing trucking information, this application showcases my ability
                                to enforce input validation against SQL Injection, Accessing API information (api.zippopotam.us) for gaining City and State info from a zip code, and using libraries for creating
                                an efficient CLI application.<br><br>
                                &emsp; Through my process in working through the enhancements. I have gained valuable insight into collaborating with a team in receiving feedback on my work.
                                This helps me to critically consider constructive feedback and acting as necessary. Through my capstone journals and this portfolio, I have learned how best to communicate with stakeholders.
                                Ensuring that the people depending on my work have the ability to understand the program without the user of jargon.
                            </span>
                        </div>
                    </div>
                </section>


                <!-- Code Review Video-->
                 <section>
                    <div class="video__box">
                        <div class="video__text">
                            <h1 > Code Review for Capstone Projects </h1>
                        </div>
                        <div class="video__picture-box">
                            <iframe  class="video__picture"  src="https://www.youtube.com/embed/4HpKcof5nio?si=5dpodui9pqWjka05" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                     </div>
                 </section>


                 <!-- All Projects -->
                 <div *ngFor="let projects of data">
                    <div class="work__box">
                        <div class="work__text">
                            <h2>{{ projects.projectName }}</h2>
                            <div class="project">
                                <p class="project__description">{{ projects.projectBriefing }}</p>
                            </div>
    
                            <div class="bottom__left-container">
                                <div class="work__list">
                                    <ul *ngFor="let skill of projects.projectSkills" >
                                        <li>{{ skill.skill }}</li>
                                    </ul>
                                </div>


                                <div class="work__links">
                                    <a [href]=projects.projectLink title="View Source Code" target="_blank">
                                        <div class="work__code-wrapper">
                                            <object data="../../../assets/images/github.svg" type="image/svg+xml" style="pointer-events: none;" class="work__code" alt="GitHub"></object>
                                        </div>
                                    </a>
                                </div>
    
                                <a [href]="'/details/' + projects._id" class="more-btn">More Details</a>
                            </div>
    
                        </div>
                        <div class="work__picture">
                             <app-image-display [imageId]="projects._id" imageType="projects"></app-image-display>
                        </div>
                      </div>
                 </div>
                 
            </div>
        </div>
    </body>

