<header class="header">
    <nav>
        <app-navbar></app-navbar>
    </nav>

    <div class="header__text-box row">
        <div *ngIf="project else loading" class="header__text">
            <h1>
                <span> {{ project.projectName }} </span>
            </h1>
        </div>
    </div>

    
</header>




<body class="work">
    <div class="row">
        <div class="project-container">

            <!-- Head project image and description -->
            <section>
                    <img src="images.get(projectId)" class="project__header-image">
                    <p [innerHTML]="project.projectDescription"></p>
            </section>

            <!-- For Status image and description -->
                    <div class="status__box">
                        <div class="status__text">
                            <h3 class="status__title">Hola</h3>
                            <span class="status__description">Hola</span>
                        </div>
    
                        <div class="status__picture">
                            <img [src]=" " class="status__picture">
                        </div>
                    </div>



        </div>
    </div>
</body>


<ng-template #loading>
    <p>Loading project details...</p>
  </ng-template>




