
<router-outlet></router-outlet>



    <header class="header " role="banner" id="top">
        <nav>
            <app-navbar></app-navbar>
        </nav>
    
            <div class="row">
                <div class="header__text">
                <h1 >
                    <span>Jesse Peterson</span>
                </h1>
                <p>A Web Developer based in Seattle, Washington. Explore my work below!</p>
                
                </div>
            </div>
    
    </header>
    
    <main class="home-body" role="main">
        <section class="work" id="work">
            <div class="row">
            <h2>My Work</h2>
            </div>
            <app-work-slider></app-work-slider>
        </section>
    </main>




    